.line-login{
	width: 0px; 
	height: 450px; 
	border: 1px white solid;
	margin-bottom: 70px
}

.wrap-icon-ismuba{
	padding-right: 30px;
	padding-top: 1px; 
	margin-bottom: 100px
}

.wrap-form-login{
	padding-left: 30px;
	padding-top: 100px;
}

.icon-form-login{
	width: 100%;
}

.input-register{
	font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.2;
    color: #333333;
    display: block;
    width: 100%;
    background: #fff;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 13px;
}

.wrap-login-register{
	width: 125%;
}

@media only screen and (max-width: 770px){
	.line-login{
		display: none;
	}

	.wrap-icon-ismuba{
		padding: 20px;
		margin-bottom: 0px;
		text-align: center;
	}

	.wrap-form-login{
		padding: 15px;
	}

	.icon-form-login{
		width: 55%;
	}

	.wrap-login-register{
		margin-left: -12%;
	}

	/*.persent92{
		width: 92%;
	}*/
}

@media only screen and (max-width: 500px){
	.icon-form-login{
		width: 40%;
	}

	.persent92{
		width: 100%;
	}

	.wrap-login-register{
		margin-left: 7.5%;
		width: 85%;
	}
}

@media only screen and (min-width: 1100px){
	.adjust-left-register{
		margin-left: -7%;
	}
}